body {
	background-color: aquamarine;
}

header {
	// 寬度 高度 背景顏色 單位像素(px)
	width: 300px;
	height: 25px;
	background-color: black;
}

main {
	// 寬度 高度 背景顏色
	width: 300px;
	height: 450px;
	background-color: blanchedalmond;
}

footer {
	// 寬度 高度 背景顏色
	width: 300px;
	height: 25px;
	background-color: brown;
}
