@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/*
區域式隱藏↑
 You may not @extend an outer selector from within @media.
 You may only @extend seletors within the same directive.
 無法由@media(媒體判斷)去呼叫「外部連結檔」
*/
@media screen and (max-width: 576px) {
  header {
    width: 100%;
  }
  header nav #iconbox {
    display: none;
  }
  header nav .btnbox {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  header {
    background-color: cadetblue;
    width: 100%;
  }
  header nav #iconbox {
    display: none;
  }
  header nav .btnbox {
    display: none;
  }
  footer address {
    display: none;
  }
}
